html {
  height: 100%;
}
body {
  height: 100%;
  font-family: $ff-primary;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient($clr-gradient-1-1, $clr-gradient-1-2);
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    background-image: url(../images/bg-pattern-desktop.svg);
  }
}
header,
main {
  width: 100%;
  max-width: 30rem;
  overflow-x: hidden;
  @media (min-width: $breakpoint-md) {
    max-width: 100%;
  }
}
main {
  @media (min-width: $breakpoint-md) {
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
.main-content-container {
  @media (min-width: $breakpoint-md) {
    width: 100%;
    max-width: 31rem;
    padding: 0 2rem 0 2rem;
  }
}
